{% extends "TVChefBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Recettes
{% endblock %}

{% block chef_body %}
    <section class="no-padding">
        <h2 class="hidden">Filtres</h2>
        <div class="container">
            {{ render(controller("TVChefBundle:Filter:index",{request: app.request})) }}
        </div>
        <div class="clearfix"></div>
    </section>

    <section>
        <div class="container" id="recipes-container">
            {% include("TVChefBundle:Recipe:list.html.twig") %}
        </div>
        
    </section>
    <div class="clearfix"></div>
{% endblock %}

{% block javascripts %}
    <script>
        var url = "{{ asset('chef/images/ajax-loader.gif') }}";
    </script>
    <script src="{{ asset('chef/js/filters.js') }}"></script>
{% endblock %}
