{% extends "TVChefBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Supprimer compte
{% endblock %}

{% block chef_body %}
    <section class="recipe-single">
        <div class="container">
            <div class="delete-container">
                <h2>Supprimer votre compte</h2>
                <p>Etes-vous certain de vouloir supprimer votre compte ?</p>

                <form action="{{ path('tv_user_delete', {'id': user.id}) }}" method="post">
                    <a href="{{ path('tv_user_view', {'id': user.id}) }}" class="btn">Retour au profil</a>
                    <input type="submit" value="Supprimer" class="btn" />
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}
